body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
/* -------------------- NAV ------------------- */



/* -------------------- SIGN UP FORM ------------------- */
.signUpFormContainer {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpFormContainer input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.signUpFormContainer input[type=text]:focus {
  background-color: rgb(168, 208, 138);
  color: white;
}

/* -------------------- LOGIN PAGE ------------------- */




/* -------------------- LANDING PAGE ------------------- */




/* -------------------- STATE PAGE ------------------- */



/* -------------------- PARK PAGE ------------------- */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------- LANDING PAGE ------------------- */
/* .map-container {
  position: relative;
  width: 25%;
  height: 25%; 
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  height: 80%; 
} */

/* -------------------- DASHBOARD PAGE ------------------- */





/* -------------------- ABOUT PAGE ------------------- */

#about-page-banner {
  width: 100%;
  max-height: 200px;
}

/* #about-pp-parent-section {

} */

#about-pp-header-div {
  margin: auto;
  text-align: center;
}

#about-paragraph-div {
  max-width: 70%;
  text-align: center;
  margin: auto;
}


/* Tech Stack Attributes */
#tech-stack-parent-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

#tech-stack-title {
  text-align: center;
}

#tech-stack-icon-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: auto;
}


.tech-stack-icon {
  max-height: 100px;
}

/* Prowler Peeps Attributes */

#meet-prowlers-title {
  text-align: center;
}

#top-container-circle-photo {
  /* max-width: 1000px;
  margin: auto ; */
}

#circle-photo-container-parent {
  max-width: 1000px;
  margin: auto ;
  display: flex;
  place-content: center;
  justify-content: space-around;
}

.circle-photo {
  max-width: 150px;
}

.circle-photo-name {
  text-align: center;
}

hr {
  max-width: 1000px;
}

#member-details-div {

}

#full-bio-photo {
  max-width: 300px;
}

.website-link-icons {
  max-width: 30px;
}


/* -------------------- SURPRISE ME PAGE ------------------- */

/* -------------------- TOP RATED PAGE ------------------- */


/* -------------------- FOOTER ------------------- */

#footer-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#footer-links {
  display: flex;
  justify-content: center;
}